div {
  background-color: #a2d2ff;
  width: 150px;
  padding: 20px;
  border: 15px solid #ffafcc;
  margin: 5px;
}

table, td, th {
  border: 1px solid#bde0fe;
}

table {
  width: 100%;
  border-collapse: collapse;
}
